/* common css start  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
/* common css end  */


/* navbar part start */
nav{
    height: 92px;
    width: 100%;
    background-color: #1C1E53;
}
.container{
    width: 1280px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu ul {
    display: flex;
    align-items: center;
}
.menu ul li a{
    padding: 0 16px;
    font-size: 16px;
    color: white;
}
.menu ul li .btn{
    padding: 16px 48px;
    border: 1px solid white;
    border-radius: 41px;
    transition: 0.5s;
}
.menu ul li .btn:hover{
    background-color: #FCD980;
    border: 1px solid transparent;
    color: black;
}
/* navbar end  */


/* Our designs solve problems part start  */
.flex_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 128px;
}
.flex_hade{
    width: 595px;
}
.flex_hade .topic{
    color: #282938;
    font-weight: 500;
    font-size: 18px;
}
.flex_hade h2{
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #282938;
    padding-bottom: 31px;
}
.flex_titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938cc;
}
.flex_img{
    width: 547px;
}
.flex_img img{
    width: 547px;
}
/* Our designs solve problems part end  */


/* who we are part start */
.goal_improvement{
    display: flex;
    width: 100%;
    background-color: #F4F5F5;
    align-items: center;
    padding: 80px;
    margin-top: 132px;
    justify-content: space-between;
    position: relative;
}
.goal_topic{
    position: absolute;
    top: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #282938;
}
.goal_hade{
    font-weight: 600;
    font-size: 38px;
}
.goal_titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
    width: 515px;
}
.who_we_are_banner{
    width: 100%;
    height: 340px;
    margin-bottom: 124px;
}
/* who we are part end */


/* process part start  */
.process_hade{
    color: #282938;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
}
.process_cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 48px 0 128px 0;
    column-gap: 32px;
}
.process_card h4{
    font-weight: 500;
    font-size: 24px;
    color: #282938;
    margin: 32px 0 8px 0;
}
.process_card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
}
/* process part end  */


/* Our Mission & Our Vision part start  */
/* stayle use flex_box  */
#mission_vission{
    background-color: #EEF4FA;
    padding: 128px 0;
}
#mission_vission .container .flex_box{
    margin-top: 0;
}
.margin_box{
    margin-bottom: 96px;
}
/* Our Mission & Our Vision part end  */


/* The benefits of working part start */
.working_main{
    margin-top: 128px;
}
.working_main h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    text-align: center;
    margin: 0 auto;
    width: 630px;
}
.working_cards{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 48px 0;
    column-gap: 32px;
}
.working_card{
    background-color: #F4F6FC;
    padding: 50px;
}
.working_card h4{
    font-weight: 500;
    font-size: 24px;
    color: #282938;
    margin: 26px 0 12px 0;
}
.working_card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
}

/* working logo part start  */
.working_nav{
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 128px;
    
}
.count{
    width: 20%;
}
.count h2{
    font-weight: 600;
    font-size: 38px;
    color: #282938;
}
.count p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(40, 41, 56, 0.7);
}
.working_logo{
    width: 80%; 
}
.working_logo ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* working logo part end  */
/* The benefits of working part end */


/* Meet our team part start */
#team{
    background-color: #F4F6FC;
    padding: 128px 0;
}
.team_main h2{
    margin-bottom:48px;
    text-align: center;
    color: #282938;
}
.team_cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 32px;
}
.team_card{
    background-color: #ffffff;
    text-align: center;
    padding: 48px 0;
}
.team_card h4{
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
    color: #1D2130;
}
.team_card p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(29, 33, 48, 0.7);
}
/* Meet our team part end */


/* footer part start  */
footer{
    background-color: #1C1E53;
    height: 397px;
}
.footer_main{
    display: flex;
    justify-content: space-between;
}
.footer_left{
    width: 45%;
}
.footer_left .logo{
    width: 156px;
    height: 38px;
    margin: 100px 0 22px 0;
}
.logo img{
    width: 100%;
    height: 100%;
}
.footer_left p{
    color: rgba(255, 255, 255, 0.8);
    width: 399px;
}
.footer_bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FCD980;
    padding: 17px 0;
    width: 100%;
    margin-top: 84px;
}
.footer_email{
    width: 40%;
}
.footer_call{
    width: 60%;
}
.footer_bottom h4{
    color: #282938;
    margin-left: 37px;
    font-weight: 500;
    font-size: 18px;
}
.footer_bottom p{
    color: rgba(40, 41, 56, 0.8);
    margin-left: 37px;
    font-weight: 400;
    font-size: 16px;

}
.footer_right{
    width: 55%;
}
.footer_right{
    padding-left: 100px;
    padding-top: 100px;
}
.footer_right h2{
    color: white;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 14px;
}
.footer_right p{
    color: hsla(225, 57%, 97%, 0.8);
    width: 399px;
}
.footer_right ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 25px;
}
.footer_right ul li a{
    color: white;
    padding-right: 25px;
    
}
/* footer part end  */