/* common css start  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
/* common css end  */


/* navbar part start */
nav{
    height: 92px;
    width: 100%;
    background-color: #1C1E53;
}
.container{
    width: 1280px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu ul {
    display: flex;
    align-items: center;
}
.menu ul li a{
    padding: 0 16px;
    font-size: 16px;
    color: white;
}
.menu ul li .btn{
    padding: 16px 48px;
    border: 1px solid white;
    border-radius: 41px;
    transition: 0.5s;
}
.menu ul li .btn:hover{
    background-color: #FCD980;
    border: 1px solid transparent;
    color: black;
}
/* navbar end  */


/* Our designs solve problems part start  */
.flex_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 128px;
}
.flex_hade{
    width: 595px;
}
.flex_hade .topic{
    color: #282938;
    font-weight: 500;
    font-size: 18px;
}
.flex_hade h2{
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #282938;
    padding-bottom: 31px;
}
.flex_titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938cc;
}
.flex_img{
    width: 547px;
}
.flex_img img{
    width: 547px;
}
/* Our designs solve problems part end  */


/* who we are part start */
.goal_improvement{
    display: flex;
    width: 100%;
    background-color: #F4F5F5;
    align-items: center;
    padding: 80px;
    margin-top: 132px;
    justify-content: space-between;
    position: relative;
}
.goal_topic{
    position: absolute;
    top: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #282938;
}
.goal_hade{
    font-weight: 600;
    font-size: 38px;
}
.goal_titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
    width: 515px;
}
.who_we_are_banner{
    width: 100%;
    height: 340px;
    margin-bottom: 124px;
}
/* who we are part end */


/* process part start  */
.process_hade{
    color: #282938;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
}
.process_cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 48px 0 128px 0;
    column-gap: 32px;
}
.process_card h4{
    font-weight: 500;
    font-size: 24px;
    color: #282938;
    margin: 32px 0 8px 0;
}
.process_card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
}


/* process part end  */

