/* common css start  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
/* common css end  */


/* navbar part start */
nav{
    height: 92px;
    width: 100%;
    background-color: #1C1E53;
}
.container{
    width: 1280px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu ul {
    display: flex;
    align-items: center;
}
.menu ul li a{
    padding: 0 16px;
    font-size: 16px;
    color: white;
}
.menu ul li .btn{
    padding: 16px 48px;
    border: 1px solid white;
    border-radius: 41px;
    transition: 0.5s;
}
.menu ul li .btn:hover{
    background-color: #FCD980;
    border: 1px solid transparent;
    color: black;
}
/* navbar end  */


/* A UX Case Study on Creating a Studious Environment for Students part start */
.environment_main{
    margin-top: 128px;
    text-align: center; 
}
.environment_main h2{
    color: #282938;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    
}
.environment_main P{
    color:  rgba(40, 41, 56, 0.7);    
    width: 831px;
    margin: 32px auto;
}
/* A UX Case Study on Creating a Studious Environment for Students part end */


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. part start  */
.artical{
    width: 842px;
    margin: 0 auto;
}
.artical h2{
    padding: 20px 0;
}
.artical p{
    padding: 20px 0;
}
.artical img{
    margin: 20px 0;
}
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. part end */



/* footer part start  */
footer{
    background-color: #1C1E53;
    height: 397px;
}
.footer_main{
    display: flex;
    justify-content: space-between;
}
.footer_left{
    width: 45%;
}
.footer_left .logo{
    width: 156px;
    height: 38px;
    margin: 100px 0 22px 0;
}
.logo img{
    width: 100%;
    height: 100%;
}
.footer_left p{
    color: rgba(255, 255, 255, 0.8);
    width: 399px;
}
.footer_bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FCD980;
    padding: 17px 0;
    width: 100%;
    margin-top: 104px;
}
.footer_email{
    width: 40%;
}
.footer_call{
    width: 60%;
}
.footer_bottom h4{
    color: #282938;
    margin-left: 37px;
    font-weight: 500;
    font-size: 18px;
}
.footer_bottom p{
    color: rgba(40, 41, 56, 0.8);
    margin-left: 37px;
    font-weight: 400;
    font-size: 16px;

}
.footer_right{
    width: 55%;
}
.footer_right{
    padding-left: 100px;
    padding-top: 100px;
}
.footer_right h2{
    color: white;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 14px;
}
.footer_right p{
    color: hsla(225, 57%, 97%, 0.8);
    width: 399px;
}
.footer_right ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 25px;
}
.footer_right ul li a{
    color: white;
    padding-right: 25px;
    
}
/* footer part end  */


/* footer navbar part start */
.footer_nav_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 92px;
    font-weight: 600;
}
.footer_nav_main ul{
    display: flex;
    align-items: center;
}
.footer_nav_main ul li a{
    color: #282938;
    padding: 16px;
}
/* footer navbar part end */