/* common css start  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
/* common css end  */


/* navbar part start */
nav{
    height: 92px;
    width: 100%;
    background-color: #1C1E53;
    position: absolute;
}
.container{
    width: 1280px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu ul {
    display: flex;
    align-items: center;
}
.menu ul li a{
    padding: 0 16px;
    font-size: 16px;
    color: white;
}
.menu ul li .btn{
    padding: 16px 48px;
    border: 1px solid white;
    border-radius: 41px;
    transition: 0.5s;
}
.menu ul li .btn:hover{
    background-color: #FCD980;
    border: 1px solid transparent;
    color: black;
}
/* navbar end  */


/* banner part start  */
#banner{
    background-color: #1C1E53;
    padding: 200px 0;
}
.banner_main{
    display: flex;
    justify-content: space-between;
    padding: 218 160 128 160;
}
.banner_texr{
    width: 582px;
    color: white;
}
.banner_texr h2{
    font-size: 54px;
    font-weight: 600;
}

.banner_btn ul {
    margin-top: 79px;
    display: flex;
    align-items: center;  
}
.banner_btn ul li a{
    color: white;
}
.banner_btn ul li .btn{
    padding: 16px 56px;
    color: black;
    margin-right: 40px;
    background-color: #FCD980;
    border-radius: 41px;
}

/* banner part end  */


/* Work part start */
#work{
    background-color: #F4F6FC;
}
.work_main{
    display: flex;
    height: 660px;
}
.work_left{
    width: 40%;
    margin-top: 128px;
}
.work_left a{
    color: #2405F2;
}
.work_left h2{
    font-weight: 600;
    font-size: 48px;
}
.work_left p{
    padding-bottom: 16px;
    color: #282938 ;
    opacity: 0.7; 
}
.work_right{
    width: 60%;
    display: grid;
    column-gap: 25px;
    row-gap: 39px;
    grid-template-columns: auto auto;
    padding: 128px;
}
.grid_item p{
    padding: 10px 0;
    color: #282938;
    opacity: 0.7;
}
/* Work part end */


/* project part start */
#project{
    padding: 128px 0;
}
.project_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:64px;
}
.project_heading a{
    color: #282938;
    font-weight: 500
}
.card_main{
    display: flex;
}
.card_left{
    width: 65%;
    margin-right: 23px;
    position: relative;
}
.card_overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    width: 0%;
    height: 100%;
}
.card_inner{
    margin: 312px 35px 70px 48px;
    opacity: 0;
}
.card_inner h3{
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 313px;
}
.card_inner p{
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 293px;
    padding: 16px 0 40px 0;
}
.card_inner a{
    color: #FCD980;
    font-size: 16px;
    font-weight: 500;
}
.card_left:hover .card_overlay{
    width: 50%;
    transition: 0.5s;
}
.card_left:hover .card_inner{
    opacity: 1;
    transition-delay: 0.2s;
}


.card_right{
    width: 35%;
}
.card_right_top{
    position: relative;
    height: 50%;
}
.card_top_overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 0%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    opacity: 0;
}
.card_right_top:hover .card_top_overlay{
    height: 100%;
    transition: 0.5s;
    opacity: 1;
}
.card_top_inner{
    margin: 129px 36px 45px 56px;

}
.card_top_inner h3{
    color: white;
    width: 313px;
    font-size: 24px;
    font-weight: 600;

}
.card_top_inner a{
    color: #FCD980;
    padding-top: 10px;
}

/* project part end */


/* Features part start  */
#features{
    background-color: #F4F6FC;
}
.features_hade{
    width: 630px;
    margin: auto;
    text-align: center;
    padding: 128px 0 47px 0;
}
.features_hade p{
    color: #282938;
    font-weight: 500;
    padding-bottom: 10px;
}
.features_hade h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 32px;
    row-gap: 24px;
    padding-bottom: 128px;
}
.card_item{
    background-color: white;
    padding: 58px 32.82px 48px 48px;
}
.card_item h3{
    padding: 22px 0 12px 0;
    font-weight: 500;
    font-size: 24px;
    color: #282938;
}
.card_item p{
    font-weight: 400;
    font-size: 16px;
    color: #282938;
}
/* Features part start  */


/* about as part start  */
#about_us{
    background-color: rgba(244, 246, 252, 0.5);
}
.about_main{
    display: flex;
    padding: 128px 0;
}
.about_hade{
    width: 35%;
}
.about_hade h2{
    width: 327px;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
}
.about_hade p{
    width: 327px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 0;
    color: #282938;
    opacity: 0.7;
}

.about_slider{
    width: 65%;
    background-color: gray;
}
/* about as part end  */